body {
  font-family: sans-serif;
}

#container {
  width: 550px;
  min-height: 200px;
  background: #FFFFFF;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

#quoteBox {
  margin-bottom: 60px;
}

q {
  font-size: 30px;
  display: block;
  quotes: none;
  transition: color 1s, opacity 1s;
}

p {
  float: right;
  transition: color 1s, opacity 1s;
}

#twitter {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 5px;
  display: block;
  line-height: 40px;
}

#newQuote {
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  float: right;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.8;
}

.color {
  transition: background-color 1s;
}
